.productpage {
    display: grid;
    max-height: 80vw;
    min-width: 85vw;
    max-width: 85vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "leftpanel rightpanel";
    grid-gap: 3px;
    background-color: white;
    overflow: auto;
}

.productpagecol1 {
    grid-area: leftpanel;
    margin-left: 5%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px;
    border-radius: 10%;
    gap: 50px;
    overflow: auto;
}

.productpagecol2 {
    grid-area: rightpanel;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
    row-gap: 1em;
    overflow: auto;
}