.orderspage {
    display: grid;
    height: 90vh;
    width: 80%;
    max-height: 100vh;
    max-width: 80vw;
    margin-left: 10vw;
    margin-top: 20vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "leftpanel rightpanel";
    grid-gap: 3px;
}

.orderspagecol1 {
    grid-area: leftpanel;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px;
    border-top:  0px;
    border-bottom: 0px;
    gap: 50px;
}

.orderspagecol2 {
    grid-area: rightpanel;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
    row-gap: 1em;
}